---
import type { GalleryItem } from "../models/GalleryItem";
import MasonryGallery from "./MasonryGallery.astro";

const slidePhotos = [
  {
    src: "https://drive.google.com/uc?id=1Vx5Zha1vjx7d6ar-FSarZux8d882slx9",
    alt: "Hero picture",
  },
  {
    src: "https://drive.google.com/uc?id=1Vx5Zha1vjx7d6ar-FSarZux8d882slx9",
    alt: "Hero picture",
  },
  {
    src: "https://drive.google.com/uc?id=1cOeAWSd5ceZUnpAqscIhY8q7l0CDvAYy",
    alt: "Hero picture",
  },
  {
    src: "https://drive.google.com/uc?id=1Vx5Zha1vjx7d6ar-FSarZux8d882slx9",
    alt: "Hero picture",
  },
  {
    src: "https://drive.google.com/uc?id=1cOeAWSd5ceZUnpAqscIhY8q7l0CDvAYy",
    alt: "Hero picture",
  },
];

interface Props {
  title: string;
  subtitle: string;
  gallery: GalleryItem[]
}

const { title, subtitle, gallery } = Astro.props;
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-16">
      <div class="flex flex-col items-start gap-8 sm:gap-10">
        <div class="flex max-w-xl flex-col items-start gap-4 sm:gap-6">
          <h1
            class="lg:text-9xl text-4xl font-medium tracking-tight sm:text-5xl"
          >
            {title}
          </h1>
          <p
            class="text-lg text-primary-950/70 dark:text-primary-200/70 sm:text-xl"
          >
            {subtitle}
          </p>
        </div>
      </div>
      <MasonryGallery photos={gallery} />
    </div>
  </div>
</section>
